[Unit]
Description=Ambient scenery display
Before=systemd-user-sessions.service

[Service]
TimeoutStartSec=0

ExecStart=/usr/bin/omxplayer -r  "/home/BlackMirror/loading.mp4"
Type=simple
User=BlackMirror

ExecStop=/usr/bin/killall omxplayer
User=BlackMirror
StandardOutput=tty
